<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>HWSS API</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Our CSS -->
    <link rel="stylesheet" href="/styles/search.css">
    <link rel="stylesheet" href="/styles/style.css">

    <!-- VueJS, GoogleMap API-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
<!------------------------------------ START -------------------------------------->
<!--TODO refactor CDNs-->
<!--TODO change URI-->

<h1>Overview</h1>

<p>This overview will give you some idea of what data is available, how to find what you need, and what you will see
    when you make a request to us.</p>

<p>The easiest way to see what data is included is to explore the data. You can build complex queries quickly and browse
    the results.</p>

<p>Please ensure that you read the guide for polling applications below before starting.</p>

<p>Results are returned in JSON format.</p>

<h2>Endpoints</h2>
<p>We provide several endpoints to retrieve different items:</p>

<ul>
    <li>Documents</li>
    <li>Document Categories</li>
    <li>Authors</li>
    <li>Regions</li>
    <li>Document items</li>
</ul>

<p>For each endpoint:</p>
<ul>
    <li>Results can be filtered using parameters</li>
    <li>Response contains minimal detail by default but more data can be exposed using parameters</li>
</ul>

<h3>Documents</h3>
<p>The documents endpoint (/query/metadata) returns all pieces of content in the metadata database. For example, let's
    see all the contents of our metadata database:</p>

<p>http://localhost:3009/query/metadata?all</p>

<h3>Document Categories</h3>
<p>Document attributes can be fetched. For example, let's see all the keys of our metadata database:</p>

<p>http://localhost:3009/query/metadata?categories</p>

<h3>Authors</h3>
<p>All available authors and publishers of the data can be retrieved. For example, let's see all of our publishers in
    the database:</p>

<p>http://localhost:3009/query/metadata?uniqNames</p>


<h3>Regions</h3>
<p>All available regions of the data can be retrieved. For example, let's see all the regions of our data in the
    database:</p>

<p>http://localhost:3009/query/metadata?uniqRegions</p>


<h3>Document Items</h3>
<p>Querying specific documents can be filtered.</p>

<h4>Parameters:</h4>
<ul>
    <li>pi</li>
    <li>firstName</li>
    <li>region</li>
    <li>date</li>
    <li>fileType</li>
    <li>instrument</li>
    <li>samplingRate</li>
    <li>dateSort</li>
</ul>

<p>http://localhost:3009/query/metadata?param1=arg1,arg2&#38;param2=arg1&#38;paramN=argN</p>

<p>For example, let's see all the documents published by Seger and Faraon:</p>
<p>http://localhost:3009/query/metadata?pi=Seger,Faraon</p>

<p>Sort by date:</p>
<p>http://localhost:3009/query/metadata?all&#38;dateSort=new</p>
<p>http://localhost:3009/query/metadata?all&#38;dateSort=old</p>

<!------------------------------------ Below this line: ALL CDN'S -------------------------------------->
<!-- jQuery first, then Tether, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

<!-- Our scripts -->
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
</body>
</html>