#registerPage {
    max-width: 600px;
    margin: 50px auto;
}

#registerPage .header {
    text-align: center;
}

#registerPage form {
    max-width: 400px;
    margin: 60px auto;
}

#registerPage button {
    margin: 20px auto;
}

.invalid {
    font-size: .7em;
    color: #e02020;
}

.side-text {
    font-size: .8em;
}
.vue-hyperlinks {
    cursor: pointer;
    color: blue;
}

.vue-hyperlinks:hover {
    text-decoration: underline;
}