html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#map-container {
    height: 100%;
}

#map-canvas {
    height: 100%;
    z-index: -1;
    top: -40px;
}

/*Container for the body.*/
#site-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    /*Do no touch duplicates*/
    -moz-transform: translateX(0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
    transition: 300ms ease all;
    backface-visibility: hidden;
}

/*Do not change showNav to show-nav, VueJS has a bug.*/
.showNav #site-canvas {
    /*Do no touch duplicates*/
    -moz-transform: translateX(500px);
    -moz-transform: translate3d(500px, 0, 0);
    -webkit-transform: translateX(500px);
    -webkit-transform: translate3d(500px, 0, 0);
    transform: translateX(500px);
    transform: translate3d(500px, 0, 0);
}

#site-wrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

#site-menu {
    width: 500px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -500px;
    background: #FFF;
    padding: 15px;
}

/*Styles for contents of the off-canvas menu.*/
#site-menu > div:first-child > div:first-child > p:first-child {
    text-decoration: none;
    font-size: 20px;
    color: #2a6d4c;
    display: block;
    transition: 0.5s;
}

/*Toggle button.*/
.navbar-header {
    display: inline-block;
}

.toggle-nav {
    margin-top: 2px;
}

.navbar-header .btn-sm {
    display: block;
    width: 500px;
    font-size: 45px;
    font-weight: 500;
}

/*Removes focus outline on the button.*/
.navbar-header .btn-secondary.focus, .btn-secondary:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/*Query Entry*/
.query-entry {
    text-align: left;
    line-height: 0.4em;
}

.query-entry {
    line-height: 0.4em;
    font-size: small;
}

.query-entry h6 {
    color: #003aa3;
    font-weight: normal;
}

.query-entry h6:hover {
    color: #45be87;
    cursor: pointer;
}

.query-id {
    position: relative;
}

.query-id h5 {
    color: #003aa3;
    font-weight: normal;
}

.queryIdMedia:hover {
    color: #45be87;
    cursor: pointer;
}

#query-container {
    overflow: auto;
    /*TODO fix max-height for variable number of queries*/
    max-height: 83vh;
    padding-bottom: 5px;
}

#map-container img {
    height: 200px;
    width: 350px;
}

.info-marker p {
    margin-bottom: 0;
}

.info-media{
    align-items: left;
}

.info-file{
    margin-bottom: 4px;
}

.info-break{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.info-img{
    height: 200px;
    width: 350px;
    margin-top: 2px;
    margin-bottom: 2px;
}


.loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 35%;
    left: 35%;
    z-index: 100;
}